* {
  margin: 0;
}

nav {
  background: #fc4445;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: flex-end;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  display: block;
  padding: 2rem;
}

.nav-list {
  display: flex;
  list-style: none;
}

nav a:hover {
  color: black;
}

#name {
  height: 100vh;
  background-image: linear-gradient(62deg, #3fee60 0%, #181719 90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
  padding: 0;
  font-size: 3rem;
  color: black;
  font-family: serif;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

#about-me{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #97caef;
  padding: 5% 0;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.about-me-section {
  text-align: justify;
  margin: 3% 5% 5% 5%;
  font-size: 1.5rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
  padding-top: 4%;
  width: 100%;
  text-align: center;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #55bcc9;
  padding-bottom: 10%;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.projects-grid {
  width: 100%;
  display: flex;
  justify-content: center;
}

.project-tile {
  width: 300px;
  height: 300px;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
  background-image: linear-gradient(10deg, #cafafe 0%, #97caef 90%);
  font-size: 1.5rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: -5px 2px 0 rgba(1, 1, 1, 0.4);
}

#projects p {
  margin: 0 5%;
}

#contact-me {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20%;
  background-image: linear-gradient(62deg, #3a3d40 50%, #181719 150%);
}
.socials {
  width: 50%;
  display: flex;
  justify-content: center;
}

.socials a{
  color: black;
  float: left;
  background-color: #abdede;
  border-radius: 20%;
  margin: 3%;
  padding: 10px;
  box-shadow: -1px 2px 0 rgba( 0, 0, 0, 0.4);
}

.socials a:hover{
  box-shadow: none;
}

footer {
  background: #fc4445;
  height: 10vh;
  width: 100%;
  color: white;
  float: right;
  align-items: center;
}

footer p {
  padding: 2%;
}
